/vendor/
/node_modules/

.env
.env.backup
.env.production

/public/storage
/storage/*.key
/storage/logs/*
/storage/framework/cache/*
/storage/framework/sessions/*
/storage/framework/views/*

/.phpunit.result.cache

/.idea/
/.vscode/

*.log
*.tmp
*.bak
*.zip
*.rar
*.7z
*.sql
*.swp

Thumbs.db
.DS_Store
